html {
    font-family: 'Press Start 2P';
    font-size: 2rem;
}
h1
{
  font-size: 95px;
  text-align: center;
  font-size: .95rem;
  margin: 2rem;
  color: white;
  font-family: 'Press Start 2P', monospace;
  font-weight: bold;
  animation: 2s neon alternate-reverse infinite;
}
@keyframes neon {
	from {
		text-shadow: 0 0 5px #FFF,
		0 0 10px #FFF,
		0 0 15px #FFF,
		0 0 20px #BFE2FF;
	}
	to {
		text-shadow: 0 0 20px #BFE2FF,
		0 0 35px #BFE2FF,
		0 0 40px #BFE2FF,
		0 0 50px #BFE2FF,
		0 0 800px #BFE2FF;
	}
}
canvas {
    background: black;
    text-align: center;
    margin: auto;
    margin-top: 110px;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}
body {
    justify-content: center;
    background-color: #222;
    color: white;
}
.action{
    width: 300px;
    height: 400px;
    margin: auto;
}

button {
    --color: rgb(34, 80, 178);
    --border-color: rgb(34, 80, 178);
    --shadow-color: rgb(16, 39, 84);
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: .50rem;
    width: 100px;
    height: 55px;
    max-width: 100%;
    max-height: 100%;
    position: relative; 
    border: none;
    background-size: cover;
    color: white;
    font-family: 'Press Start 2P', monospace;
    font-weight: bold;
    background-color: var(--color);
    box-shadow: 0 -3px var(--color),
                3px 0 var(--color),
                0 3px var(--color),
                -3px 0 var(--color),
                0 -6px var(--border-color),
                3px -3px var(--border-color),
                6px 0 var(--border-color),
                0 6px var(--border-color),
                -3px 3px var(--border-color),
                -6px 0 var(--border-color),
                -3px -3px var(--border-color),
                3px 3px var(--border-color),
                0px 9px var(--shadow-color),
                3px 6px var(--shadow-color),
                6px 3px var(--shadow-color),
                0px 9px var(--shadow-color),
                -3px 6px var(--shadow-color),
                -6px 3px var(--shadow-color);
}
a{
  text-align: center;
  font-size: .40rem;
  color: grey;
  margin-left: 100px;
  font-family: 'Press Start 2P', monospace;
  font-weight: bold;
  justify-content: center;

};
